.Contact{
  width: 100%;
  height: 80vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  background: #121212;;

}
.Contact h2{
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
.Contact form{
 display: flex;
 
 margin:0 auto;
 background: #2a2727;
 flex-direction: column;
 padding: 2rem;
}
.Contact form P{
font-size: 1.2REM;
text-align: center;
}
.Contact button{
  background: #000;
  width: 100%;

  padding: 10px;
  margin:10px auto;
}

/* Breakpoint para dispositivos pequenos (smartphones) */
@media (max-width: 576px) {
.Contact form{
  margin: auto;
}
  .Contact form p{
  font-size: 1.1REM;
  text-align: center;
  padding-bottom: 1REM;
  }
}

/* Breakpoint para dispositivos médios (tablets) */
@media (min-width: 577px) and (max-width: 768px) {

}

/* Breakpoint para dispositivos grandes (laptops) */
@media (min-width: 769px) and (max-width: 992px) {
 

}

/* Breakpoint para dispositivos extra grandes (desktops) */
@media (min-width: 993px) {
  .Contact form{
   
    width: 600px;
  
   }
}
