.Header{
  width: 100%;
  height: auto;
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  background: #000;

}


.Menu{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 200px;
  padding: 10px;
  margin: 30px;
  color: white;
  z-index: 1;
}
.Menu ul {
backdrop-filter: blur(10px);
background: #1e1e1e32;
list-style: none;
width: 100%;
right: 0;
position: fixed;
  top: 5rem;
  text-align: center;
}

.Menu a{
  text-decoration: none;

  text-transform: capitalize;
  color: aliceblue;
}
.Menu ul li{
 padding: 10px;
  z-index: 1;
}
.Menu  a:hover{
  color:#946011;
  z-index: 1;
}

.Lista.Open{
  display: flex;

}
.Menu{

  font-size: 1.1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.Lista{
  display: none;
  
}
.Menu button{
  
  width: 50px;
  background: #000;
  color: #946011;
  font-weight: bold;
  border: 1px solid #946011;
  padding: 10px;
  border-radius: 5px;
  
}
/* Breakpoint para dispositivos pequenos (smartphones) */
@media (max-width: 576px) {
  .Header{
    width: 100vw;
  }
 .Menu{
  
  font-size: 1.1rem;
 }

 .Logo img{
  width: 100px;
}
}
/* Breakpoint para dispositivos médios (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .Menu{

    font-size: 1.1rem;
   }
   .Logo img{
    width: 160px;
  }
  .Menu ul{
   top: 9rem;
    font-size: 1.7rem;
    }
}

/* Breakpoint para dispositivos grandes (laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  
   .Logo img{
    width: 180px;
  }
  .Menu ul{
   top: 9rem;
    font-size: 1.7rem;
    }

}

/* Breakpoint para dispositivos extra grandes (desktops) */
@media (min-width: 993px) {

  .Logo img{
    width: 150px;
  }
  .Menu{
    position: static;
    width: 600px;
    font-size: 1.2rem;
     display: flex; 
     justify-content: flex-end;
 
  }
  .Menu ul{
   position: static;
   display: flex; 
   justify-content: flex-end;
  }
  .Menu button{
    display: none;
  }
 

}
